doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      a(href="/") Home
      if !currentUser  
        a(href="/users/signup") Signup
        a(href="/users/login") Login  
      else 
        a(href="/users/logout") Logout  
    if currentUser 
      h1 Welcome home, #{currentUser.fullname}
    block content
