doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      a(href="/") Home
      if !currentUser  
        a(href="/users/signup") Signup
        a(href="/users/login") Login  
      else 
        if currentUser.membership_status != 'Royalty'
          a(href=currentUser.url+'/join') Join The Club 
        a(href='/users/account') Account  
        a(href=currentUser.url+'/logout') Logout  
    if errors 
      for error in errors 
        p.error= error.msg
    block content
