extends layout 
block content   
  form(action='/users/signup' method='POST')
    label(for='firstname') First Name 
    input#firstname(name='firstname' placeholder='john' type='text')
    label(for='lastname') Last Name 
    input#lastname(name='lastname' placeholder='doe' type='text')
    label(for='username') Username 
    input#username(name='username' placeholder='username' type='text')
    label(for='password') Password 
    input#password(name='password' placeholder='password' type='password')
    label(for='passwordconfirmation') Confirm Password 
    input#passwordconfirmation(name='passwordconfirmation' placeholder='password' type='password')
    button(type='submit') Signup