<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>Welcome Home! Agent <%= 12 + 13 + 20%></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolorem
  voluptate magni molestiae ut beatae odio, unde ipsa exercitationem fugit
  maiores aliquam vitae deserunt, nemo voluptates nisi perferendis! Odit, et?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facilis
  laboriosam voluptate nulla maiores eligendi explicabo pariatur similique
  autem, debitis aspernatur dolor necessitatibus, perspiciatis voluptatem
  assumenda dignissimos. Fuga, minima quam?
</p>
<%- include('partials/footer') %>
