<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1 style="color: crimson">
  Sorry, but the <%= subreddit %> subreddit is not available. Please try
  searching for another.
</h1>
<%- include('partials/footer') %>
