* {
  margin: 0;
  padding: 0;
}

input {
  margin-bottom: 25px;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

input[type="submit"] {
  border: 1px solid black;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#error-container {
  height: 30px;
  width: 100%;
}

#form-container {
  padding: 20px;
}
