* {
  margin: 0;
  padding: 0;
}

section {
  background-color: rgb(197, 197, 197);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

i {
  font-size: larger;
  color: white;
  cursor: pointer;
}

i:hover {
  transform: scale(1.25);
}

img {
  width: 300px;
  height: 150px;
}

#image-carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#frame {
  background-color: white;
  width: 300px;
  height: 150px;
  border: 20px solid rgba(114, 98, 7, 0.76);
}

#bottom-contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-dots-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-dot {
  color: white;
}

.active {
  transform: scale(1.5);
}
