doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .sidebar-container 
        block sidebar 
            ul.sidebar-nav 
                li 
                    a(href="/catalog") Home 
                li
                    a(href="/catalog/books") All Books 
                li
                    a(href="/catalog/authors") All Authors 
                li
                    a(href="/catalog/genres") All Genres 
                li
                    a(href="/catalog/bookinstances") All Book Instances 
                li
                    a(href="/catalog/author/create") Create New Author
                li
                    a(href="/catalog/genre/create") Create New Genre 
                li
                    a(href="/catalog/book/create") Create New Book 
                li
                    a(href="/catalog/bookinstance/create") Create New Book Instance (Copy)

    .content-container 
        block content