<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome Home! <%= 12 + 13 + 20%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolorem
      voluptate magni molestiae ut beatae odio, unde ipsa exercitationem fugit
      maiores aliquam vitae deserunt, nemo voluptates nisi perferendis! Odit,
      et?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facilis
      laboriosam voluptate nulla maiores eligendi explicabo pariatur similique
      autem, debitis aspernatur dolor necessitatibus, perspiciatis voluptatem
      assumenda dignissimos. Fuga, minima quam?
    </p>
  </body>
</html>
